.title {
    box-sizing: border;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 28px;
    background-color: rgb(86, 164, 216);
    margin-bottom: 5px;
    padding: 1px;
}

.subheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: rgb(89, 192, 196);
}

ul {
    padding: 0px;
}

.main-list a {
    border: 5px solid;
    margin-bottom: 8px;
    text-decoration: none;
    background-color: rgb(162, 198, 221);
    display: inline-flex;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.main-list a:hover {
    text-decoration: none;
    background-color: rgb(219, 97, 15);
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.home a {
    padding: 10px;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    margin: 100px;
}

.home a:hover {
    background-color: brown;
}

